{{ 't-section-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
    --banner-text-align: {{ section.settings.title_alignment }};
    {% for block in section.blocks %}
      {% if block.type == 'heading' %}      
        --banner-color: {{ block.settings.color }};
        --banner-title-font-size:{{ block.settings.font_size }}px;
      {% elsif block.type == 'text' %}
        --banner-subtitle-font-size: {{ block.settings.font_size }}px;
      {% elsif block.type == 'button' %}
      --banner-button-font-size: {{ block.settings.font_size }}px;
      {% endif %}
    {% endfor %}
  }
{% endstyle %}

<div class="container">
  <div class="content-banner">
    {% for block in section.blocks %}
      {% if block.type == 'heading' %}
        <h1>
            {{ block.settings.title | strip_html }}
        </h1>
      {% elsif block.type == 'text' %}
        <div class="sub-title-banner">
          {{ block.settings.subtitle }}
        </div>
      {% elsif block.type == 'button' %}
        <a href="{{ block.settings.button_link }}" class="button-banner"><span>{{ block.settings.button_label }}</span></a>
      {% elsif block.type == 'stats' %}  
        <div class="stats">
          {% if block.settings.first_stats_number %}
            <div class="stat-item">
              <h3>{{ block.settings.first_stats_number }}</h3>
              <span>{{ block.settings.first_stats_lable }}</span>
            </div>
          {% endif %}
          {% if block.settings.second_stats_number %}
            <div class="border"> </div>
            <div class="stat-item">
              <h3>{{ block.settings.second_stats_number}}</h3>
              <span>{{ block.settings.second_stats_lable }}</span>
            </div>
          {% endif %}
          {% if block.settings.third_stats_number %}
            <div class="border"> </div>
            <div class="stat-item">
              <h3>{{ block.settings.third_stats_number }}</h3>
              <span>{{ block.settings.third_stats_lable }}</span>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    {% comment %} <div class="stats-secondary">
      <div class="stat-item d-flex justify-content-evenly align-items-center"
        style="height: 100%; width: 100%; margin-bottom: 12px;">
        <div class="stat-item">
          <h3>200+</h3>
          <span>International Brands</span>
        </div>
        <div class="border border-1" style="height: 52px;"></div>
        <div class="stat-item">
          <h3>2,000+</h3>
          <span>High-Quality Products</span>
        </div>
      </div>
      <div class="stat-item">
        <h3>30,000+</h3>
        <span>Happy Customers</span>
      </div>
    </div> {% endcomment %}
  </div>
</div>
<div class="img-banner">
  {% if section.settings.image %}
    {{ section.settings.image | image_url: width: 1500 | image_tag }}
  {% endif %}
</div>
{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "t-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Align title",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],

  "blocks": [
    {
      "type": "heading",
      "name": "Title banner",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<h1>Your title banner</h1>"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 30,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 64
        },
    
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "text",
      "name": "Subtitle banner",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Your subtitle banner"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        }
      ]
    },
    {
      "type": "button",
      "name": "Button banner",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Your button label"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "stats",
      "name": "Stats banner",
      "settings": [
        {
          "type": "text",
          "id": "first_stats_number",
          "label": "First stat number"
        },
        {
          "type": "text",
          "id": "first_stats_lable",
          "label": "First stat lable"
        },
        {
          "type": "text",
          "id": "second_stats_number",
          "label": "Second stat number"
        },
        {
          "type": "text",
          "id": "second_stats_lable",
          "label": "Second stat lable"
        },
        {
          "type": "text",
          "id": "third_stats_number",
          "label": "Third stat number"
        },
        {
          "type": "text",
          "id": "third_stats_lable",
          "label": "Third stat lable"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "t-Banner",
      "category": "Banner",
      "settings": {
      }
    }
  ]
}
{% endschema %}
